@{
    ViewBag.Title = "Hotel Solution Test";


}
<div class="jumbotron">
    <p>test</p>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="widget">
            <table>
                <tr>
                    <td colspan="3">
                        <p  class="title">
                            WANNA BOOK?
                        </p>
                        <p style="color:#ffffff;font-size:30px;">
                            -
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="1" id="von">
                        <div class="btnn btnn-title">
                            <p>
                                VON
                            </p>
                        </div>
                        <div class="btnn btnn-num1">
                            <label id="vonmonth">01</label>
                        </div>
                        <div class="btnn btnn-num2">
                            <label id="vondate">01</label>
                        </div>
                        <div class="btnn btnn-arrow" >
                            <img src="~/img/arrow.jpg" />
                        </div>
                    </td>
                    <td colspan="1" id="bis">
                        <div class="btnn btnn-title">
                            <p>
                                BIS
                            </p>
                        </div>
                        <div class="btnn btnn-num1">
                            <label id="bismonth">01</label>
                        </div>
                        <div class="btnn btnn-num2">
                            <label id="bisdate">01</label>
                        </div>
                        <div class="btnn btnn-arrow">
                            <img src="~/img/arrow.jpg" />
                        </div>
                    </td>
                    <td colspan="1" id="gaste">
                        <div class="btnn btnn-title">
                            <p>
                                GÄSTE
                            </p>
                        </div>
                        <div class="btnn btnn-num1">
                            <label id="personNum">01</label>
                        </div>
                        <div class="btnn btnn-num2"></div>
                        <div class="btnn btnn-arrow1">
                            <img src="~/img/arrow.jpg" />
                        </div>
                        <div class="personList">
                            <div class="cube cube1">
                                <p>1</p>
                            </div>
                            <div class="cube cube2">
                                <p>2</p>
                            </div>
                            <div class="cube cube3">
                                <p>3</p>
                            </div>
                            <div class="cube cube4">
                                <p>4</p>
                            </div>
                            <div class="cube cube5">
                                <p>5</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="Submit">
                    <td colspan="3" class="btnLook">
                        <p>
                            HAVE A LOOK
                        </p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>